{
    "openapi": "3.1.0",
    "info": {
        "title": "AcopioVE API",
        "version": "1.0.0",
        "description": "API p\u00fablica y abierta de centros de acopio, refugios y tel\u00e9fonos de emergencia para la respuesta al terremoto de Venezuela 2026. Lectura sin autenticaci\u00f3n. Otras plataformas pueden CONTRIBUIR puntos v\u00eda POST /submissions (entran como pendientes y un admin los revisa antes de publicarlos). Datos bajo CC-BY-4.0 \u2014 Datos: AcopioVE (acopiove.org), CC-BY-4.0.",
        "license": {
            "name": "CC-BY-4.0",
            "url": "https://creativecommons.org/licenses/by/4.0/"
        },
        "contact": {
            "name": "AcopioVE",
            "url": "https://acopiove.org"
        }
    },
    "servers": [
        {
            "url": "https://api.acopiove.org/v1"
        }
    ],
    "paths": {
        "/puntos": {
            "get": {
                "summary": "Directorio de ayuda unificado (acopios, refugios, salud, tel\u00e9fonos)",
                "description": "Un solo endpoint con todos los puntos de apoyo, pensado para apps y chatbots. Unifica centros de acopio + refugios + tel\u00e9fonos de emergencia (AcopioVE) y puntos de salud/hospitales (CIVIS). NO incluye personas (PII). JSON, GeoJSON o CSV.",
                "parameters": [
                    {
                        "name": "tipo",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "CSV: acopio,refugio,salud,telefono"
                    },
                    {
                        "name": "ciudad",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Coincidencia parcial, sin acentos"
                    },
                    {
                        "name": "pais",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "near",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "lat,lng \u2014 ordena por cercan\u00eda (excluye tel\u00e9fonos sin coords)"
                    },
                    {
                        "name": "radius",
                        "in": "query",
                        "schema": {
                            "type": "number"
                        },
                        "description": "km, junto con near"
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "geojson",
                                "csv"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 200,
                            "maximum": 1000
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de puntos de apoyo",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "tipo": {
                                                        "type": "string",
                                                        "enum": [
                                                            "acopio",
                                                            "refugio",
                                                            "salud",
                                                            "telefono"
                                                        ]
                                                    },
                                                    "nombre": {
                                                        "type": "string"
                                                    },
                                                    "lat": {
                                                        "type": [
                                                            "number",
                                                            "null"
                                                        ]
                                                    },
                                                    "lng": {
                                                        "type": [
                                                            "number",
                                                            "null"
                                                        ]
                                                    },
                                                    "ciudad": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "pais": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "estado": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "categorias": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "telefono": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "descripcion": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "fuente": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "fuente_url": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "actualizado_en": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    }
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "count": {
                                                    "type": "integer",
                                                    "description": "Registros en esta p\u00e1gina"
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "description": "Total que coincide con los filtros"
                                                },
                                                "limit": {
                                                    "type": "integer"
                                                },
                                                "offset": {
                                                    "type": "integer"
                                                },
                                                "license": {
                                                    "type": "string"
                                                },
                                                "license_url": {
                                                    "type": "string"
                                                },
                                                "attribution": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "total": {
                                            "type": "integer",
                                            "description": "Igual que meta.total (duplicado en ra\u00edz)"
                                        },
                                        "limit": {
                                            "type": "integer",
                                            "description": "Igual que meta.limit (duplicado en ra\u00edz)"
                                        },
                                        "offset": {
                                            "type": "integer",
                                            "description": "Igual que meta.offset (duplicado en ra\u00edz)"
                                        }
                                    }
                                }
                            },
                            "application/geo+json": {
                                "schema": {
                                    "type": "object",
                                    "description": "GeoJSON FeatureCollection"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/personas": {
            "get": {
                "summary": "B\u00fasqueda de personas reportadas (desaparecidas/localizadas) \u2014 reunificaci\u00f3n",
                "description": "B\u00fasqueda PII-segura para apps y chatbots: \"\u00bfest\u00e1 [nombre] reportado?\". Fuentes: SOS Venezuela + Localizados Venezuela + hub Venezuela Ayuda + ReportaVNZLA (on-demand; incluye desaparecidosterremotovenezuela.com y venezuelatebusca.com). Requiere `q` (nombre) o `cedula` \u2014 es un lookup, no un volcado del registro. Devuelve nombre, estado, ubicaci\u00f3n general, foto y fuente; c\u00e9dula ENMASCARADA; sin tel\u00e9fono ni coordenadas GPS; la ubicaci\u00f3n de menores se omite.",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Nombre o parte del nombre (m\u00edn. 2 caracteres)"
                    },
                    {
                        "name": "cedula",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "C\u00e9dula a buscar (m\u00edn. 3 d\u00edgitos); los resultados la devuelven enmascarada"
                    },
                    {
                        "name": "estado",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "desaparecido",
                                "localizado"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 25,
                            "maximum": 50
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resultados de la b\u00fasqueda",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "nombre": {
                                                        "type": "string"
                                                    },
                                                    "estado": {
                                                        "type": "string",
                                                        "enum": [
                                                            "desaparecido",
                                                            "localizado"
                                                        ]
                                                    },
                                                    "edad": {
                                                        "type": [
                                                            "integer",
                                                            "null"
                                                        ]
                                                    },
                                                    "ubicacion_general": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "foto": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "cedula": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ],
                                                        "description": "Enmascarada (ej. ***123)"
                                                    },
                                                    "fuente": {
                                                        "type": "string"
                                                    },
                                                    "fecha": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    }
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "count": {
                                                    "type": "integer",
                                                    "description": "Registros en esta p\u00e1gina"
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "description": "Total que coincide con los filtros"
                                                },
                                                "limit": {
                                                    "type": "integer"
                                                },
                                                "offset": {
                                                    "type": "integer"
                                                },
                                                "license": {
                                                    "type": "string"
                                                },
                                                "license_url": {
                                                    "type": "string"
                                                },
                                                "attribution": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "total": {
                                            "type": "integer",
                                            "description": "Igual que meta.total (duplicado en ra\u00edz)"
                                        },
                                        "limit": {
                                            "type": "integer",
                                            "description": "Igual que meta.limit (duplicado en ra\u00edz)"
                                        },
                                        "offset": {
                                            "type": "integer",
                                            "description": "Igual que meta.offset (duplicado en ra\u00edz)"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Falta t\u00e9rmino de b\u00fasqueda (q o cedula)"
                    }
                }
            }
        },
        "/centros": {
            "get": {
                "summary": "Lista de centros de acopio y refugios",
                "parameters": [
                    {
                        "name": "tipo",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "acopio",
                                "refugio"
                            ]
                        }
                    },
                    {
                        "name": "ciudad",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Coincidencia parcial"
                    },
                    {
                        "name": "estado",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "abierto",
                                "lleno",
                                "cerrado"
                            ]
                        }
                    },
                    {
                        "name": "pais",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "recibe",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "CSV de categor\u00edas; devuelve los que reciben al menos una (ej: agua,alimentos)"
                    },
                    {
                        "name": "near",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "lat,lng \u2014 ordena por cercan\u00eda"
                    },
                    {
                        "name": "radius",
                        "in": "query",
                        "schema": {
                            "type": "number"
                        },
                        "description": "km, junto con near"
                    },
                    {
                        "name": "bbox",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "description": "minLng,minLat,maxLng,maxLat (viewport de mapa)"
                    },
                    {
                        "name": "updatedSince",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "geojson",
                                "csv"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 100,
                            "maximum": 500
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de centros",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "format": "uuid"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "tipo": {
                                                        "type": "string",
                                                        "enum": [
                                                            "acopio",
                                                            "refugio"
                                                        ]
                                                    },
                                                    "estado": {
                                                        "type": "string",
                                                        "enum": [
                                                            "abierto",
                                                            "lleno",
                                                            "cerrado"
                                                        ]
                                                    },
                                                    "address": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "ciudad": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "pais": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "lat": {
                                                        "type": "number"
                                                    },
                                                    "lng": {
                                                        "type": "number"
                                                    },
                                                    "recibe": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "necesita_ahora": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "horario": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "contacto": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "responsable": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "fuente": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "nullable": true
                                                    }
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "count": {
                                                    "type": "integer",
                                                    "description": "Registros en esta p\u00e1gina"
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "description": "Total que coincide con los filtros"
                                                },
                                                "limit": {
                                                    "type": "integer"
                                                },
                                                "offset": {
                                                    "type": "integer"
                                                },
                                                "license": {
                                                    "type": "string"
                                                },
                                                "license_url": {
                                                    "type": "string"
                                                },
                                                "attribution": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "total": {
                                            "type": "integer",
                                            "description": "Igual que meta.total (duplicado en ra\u00edz)"
                                        },
                                        "limit": {
                                            "type": "integer",
                                            "description": "Igual que meta.limit (duplicado en ra\u00edz)"
                                        },
                                        "offset": {
                                            "type": "integer",
                                            "description": "Igual que meta.offset (duplicado en ra\u00edz)"
                                        }
                                    }
                                }
                            },
                            "application/geo+json": {
                                "schema": {
                                    "type": "object",
                                    "description": "GeoJSON FeatureCollection"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/centros/{id}": {
            "get": {
                "summary": "Un centro por id",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json",
                                "geojson"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Centro",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "tipo": {
                                                    "type": "string",
                                                    "enum": [
                                                        "acopio",
                                                        "refugio"
                                                    ]
                                                },
                                                "estado": {
                                                    "type": "string",
                                                    "enum": [
                                                        "abierto",
                                                        "lleno",
                                                        "cerrado"
                                                    ]
                                                },
                                                "address": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "ciudad": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "pais": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "lat": {
                                                    "type": "number"
                                                },
                                                "lng": {
                                                    "type": "number"
                                                },
                                                "recibe": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "necesita_ahora": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "horario": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "contacto": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "responsable": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "fuente": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "nullable": true
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No encontrado"
                    }
                }
            }
        },
        "/telefonos": {
            "get": {
                "summary": "Tel\u00e9fonos de emergencia",
                "parameters": [
                    {
                        "name": "ciudad",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pais",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 200,
                            "maximum": 500
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de tel\u00e9fonos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "format": "uuid"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "number": {
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "ciudad": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "pais": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "nullable": true
                                                    }
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "count": {
                                                    "type": "integer",
                                                    "description": "Registros en esta p\u00e1gina"
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "description": "Total que coincide con los filtros"
                                                },
                                                "limit": {
                                                    "type": "integer"
                                                },
                                                "offset": {
                                                    "type": "integer"
                                                },
                                                "license": {
                                                    "type": "string"
                                                },
                                                "license_url": {
                                                    "type": "string"
                                                },
                                                "attribution": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "total": {
                                            "type": "integer",
                                            "description": "Igual que meta.total (duplicado en ra\u00edz)"
                                        },
                                        "limit": {
                                            "type": "integer",
                                            "description": "Igual que meta.limit (duplicado en ra\u00edz)"
                                        },
                                        "offset": {
                                            "type": "integer",
                                            "description": "Igual que meta.offset (duplicado en ra\u00edz)"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/meta": {
            "get": {
                "summary": "Conteos, \u00faltima actualizaci\u00f3n, licencia y atribuci\u00f3n",
                "responses": {
                    "200": {
                        "description": "Metadatos del dataset"
                    }
                }
            }
        },
        "/submissions": {
            "post": {
                "summary": "Sugerir un punto de apoyo (contribuci\u00f3n de terceros)",
                "description": "Cualquiera (incluidas otras plataformas) puede sugerir un centro/refugio. Entra como PENDIENTE (no se publica) hasta que un admin de AcopioVE lo apruebe. Abierto, sin llave, con rate-limit por IP (10/10min). Env\u00eda tu plataforma en `source` para la atribuci\u00f3n. La respuesta incluye `possible_duplicate` si detectamos un punto cercano y parecido.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "format": "uuid"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "tipo": {
                                                "type": "string",
                                                "enum": [
                                                    "acopio",
                                                    "refugio"
                                                ]
                                            },
                                            "estado": {
                                                "type": "string",
                                                "enum": [
                                                    "abierto",
                                                    "lleno",
                                                    "cerrado"
                                                ]
                                            },
                                            "address": {
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "ciudad": {
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "pais": {
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "lat": {
                                                "type": "number"
                                            },
                                            "lng": {
                                                "type": "number"
                                            },
                                            "recibe": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            },
                                            "necesita_ahora": {
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "horario": {
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "contacto": {
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "responsable": {
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "fuente": {
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "updated_at": {
                                                "type": "string",
                                                "format": "date-time",
                                                "nullable": true
                                            }
                                        }
                                    },
                                    {
                                        "type": "object",
                                        "properties": {
                                            "source": {
                                                "type": "string",
                                                "description": "Nombre de tu plataforma (atribuci\u00f3n)",
                                                "example": "MiApp"
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Sugerencia recibida (pendiente de revisi\u00f3n)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "enum": [
                                                        "pending"
                                                    ]
                                                },
                                                "possible_duplicate": {
                                                    "type": "boolean"
                                                },
                                                "duplicate_of": {
                                                    "type": [
                                                        "object",
                                                        "null"
                                                    ]
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Datos inv\u00e1lidos"
                    },
                    "429": {
                        "description": "Rate limit excedido"
                    }
                }
            }
        },
        "/submissions/{id}": {
            "get": {
                "summary": "Estado de una sugerencia",
                "description": "Devuelve `pending` (en revisi\u00f3n) o `approved` (ya publicada). 404 si no existe o fue rechazada.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Estado de la sugerencia",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "enum": [
                                                        "pending",
                                                        "approved"
                                                    ]
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No encontrada (o rechazada)"
                    }
                }
            }
        }
    }
}
